@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600;700&family=Inter:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root{
    --bg-color: #f5f5ff;
    --header-color: #2929CC;
    --anim-color: #3F26Bf;
}

body{
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    position: relative;
    overflow-x: hidden;
}

#load-wrapper{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e2ff;
    visibility: visible;
  }

  #loader{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: relative;
    padding: 5px;
    border-width: 2px 0;
    border-style: solid;
    border-color: var(--anim-color);
    color: var(--anim-color);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

  #loader::after, #loader::before{
    content: '';
    width: 20px;
    height: 8px;
    background-color: rgb(106, 106, 236);
    background-color: var(--anim-color);
    position: absolute;
    border-radius: 10px;
  }

  #loader::after{
    top: -12px;
    left: 0;
    animation: animtop 2s ease-in-out infinite;
    -webkit-animation: animtop 2s ease-in-out infinite;
    -moz-animation: animtop 2s ease-in-out infinite;
    -o-animation: animtop 2s ease-in-out infinite;
  }

  #loader::before{
    bottom: -12px;
    right: 0;
    animation: animbottom 2s ease-in-out infinite;
    -webkit-animation: animbottom 2s ease-in-out infinite;
    -moz-animation: animbottom 2s ease-in-out infinite;
    -o-animation: animbottom 2s ease-in-out infinite;
  }

  @keyframes animtop {

    0%{
      left: 0;
    }
    50%{
      left: calc(100% - 20px);
    }
    100%{
      left: 0;
    }

  }

  @keyframes animbottom {
    0%{
      right: 0;
    }
    50%{
      right: calc(100% - 20px);
    }
    100%{
      right: 0;
    }
  }

header{
    width: 100vw;
    height: 70px;
    background-color: var(--header-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 40px;
    position: relative;
    transition: height .15s ease-out, left .2s ease-out;
    -webkit-transition: height .15s ease-out, left .2s ease-out;
    -moz-transition: height .15s ease-out, left .2s ease-out;
    -o-transition: height .15s ease-out, left .2s ease-out;
}

header:hover{
    height: 85px;
}

header i{
    position: absolute;
    top: 35px;
    right: 35px;
    color: white;
    visibility: hidden;
}

header i:hover{
    color: rgb(237, 237, 237);
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu li{
    display: inline-block;
    margin: 0 20px;
    font-weight: 600;
    white-space: nowrap;
    position: relative;
    letter-spacing: .05rem;
    font-size: 18px;
}


.menu li a{
    color: white;
    text-decoration: none;
}

.menu li::after{
    content: '';
    display: inline-block;
    width: 0px;
    height: 2px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    bottom: -3px;
    transition: width 0.25s;
    -webkit-transition:  width 0.25s;
    -moz-transition:  width 0.25s;
    -o-transition:  width 0.25s;
}

.menu li:hover::after{
    width: 100%;
}

.my-resume, .btn{
    background-color: red;
    padding: 5px 15px;
    box-shadow: rgba(0, 0, 0, .25) 0 2px 4px;
    letter-spacing: .02rem;
    text-shadow: rgb(189, 189, 189) 0 .5px 2px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    border: none;
}

header .my-resume{
    background-color: red;
    padding: 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
    letter-spacing: .02rem;
    text-shadow: rgb(189, 189, 189) 0 .5px 2px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    border: none;
    font-weight: 600;
    margin-left: 20px;
    text-decoration: none;
    margin-bottom: 5px;

}

header .my-resume:hover{
    scale: 1.04;
}
header .my-resume:active{
    transform: translate(0px, 1px);
    -webkit-transform: translate(0px, 1px);
    -moz-transform: translate(0px, 1px);
    -ms-transform: translate(0px, 1px);
    -o-transform: translate(0px, 1px);
}

nav{
    width: 100%;
    height: 56px;
    position: fixed;
    top: 0;
    color: white;
    padding: 8px 10px;
    background-color: var(--header-color);
    display: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.247);
    z-index: 1;
}

nav g svg{
    position: absolute;
    height: 40%;
    width: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

nav .fa-bars{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

#wrapper{
    background-color: var(--bg-color);
    overflow-y: scroll;  
}

#wrapper #holder{
    width: 100%;
    padding: 40px 15px 50px;
}

footer{
    width: 100%;
    height: auto;
    background-color: rgb(20, 20, 102);
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    padding: 25px 5px;
}

footer div{
    width: fit-content;
    margin: 13px 30px;
}

footer div h4{
    font-size: 17.5px;
    font-weight: 600;
    letter-spacing: 0.025rem;
    margin-bottom: 4px;
}

footer div a:not(.icon){
    display: block;
    text-decoration: none;
}


footer div p, footer div i, footer div a{
    color: #B6AAAA;
    font-size: 16.5px;
    margin-bottom: 6px;
}

footer div i{
    font-size: x-large;
    margin-right: 10px;   
}

footer div i:hover, footer div a:hover{
    color: orange;
}


/*

for mobiles only

*/

@media only screen and (max-width : 600px)
{

    header{
        background-color: rgba(20, 20, 120, .97);
        width: 100%;
        height: 100vh;
        z-index: 1;
        left: 100%;
        z-index: 2;
        position: fixed;
        flex-direction: column;
        -ms-flex-direction: column;
        justify-content: center;
    }

    header:hover{
        height: 100vh;
    }

    header i{
        visibility: visible;
    }

    header .menu{
        flex-direction: column;
        -ms-flex-direction: column;
        margin-bottom: 22px;
    }

    header .menu li{
        margin: 22px 0;
        font-size: 24px;
    } 

    header .my-resume{
        padding: 5px 20px;
        margin-left: 0;
        font-size: 22px;
    }

    nav{
        display: block;
    }

    #wrapper{
        padding-top: 56px;
    }

    #holder{
        padding: 30px 15px 60px 15px;
    }

    footer{
        flex-direction: column;
        -ms-flex-direction: column;
        justify-content: flex-start;
    }
    
    footer div h4{
        font-size: 18.5px;
    }

    footer div p, footer div i, footer div a{
        font-size: 17.5px;
    }

}

